body {
    background: cornflowerblue;
    text-align: center;
}

h1 {
    font-family: 'Gotham Rounded';
    font-size: 100px;
    color: coral;
}

button {
    cursor: pointer;
    padding: 20px 30px;
    border-radius: 100vmax;
    color: cornflowerblue;
    font-family: 'Gotham Rounded';
    font-size: 40px;
}

select {
    padding: 10px 15px;
    border-radius: 100vmax;
    color: cornflowerblue;
    font-family: 'Gotham Rounded';
    font-size: 20px;
}

p {
    font-family: 'Gotham Rounded';
    font-size: 20px;
    color: coral;
    text-align: left;
}